page-home {

    
#dashinputitms{
    padding-left: 20px;
}



.dashmainheaders{
    text-align: center; 
}
.dashheadercols{
    width: 50%;
}
#dashheaderlabels{
    padding-left: 8px;  
}
#dashheaderlabelsm{
    padding-left: 5px; 
    margin-left: 5px; 
}


}
